
/*  Header Nav */
.header{
  margin-bottom: 0;
}
nav{
  padding-bottom: 70px;
}
.conteudo{
  padding-top: 5%;
  background-image: url('../imgs/fundo.png');
  background-repeat:  no-repeat;
  background-size: 100% 100%;
}
.conteudo0{
  margin-bottom: 0 !important;
}
/* Fim Header Nav */
#logoSite{
  max-width:210px;
}
.botaoPagina{
  font-weight:bold;
  font-size:18px;
  padding-top: 6px;
}
/* Contéudo 1  */

.textao{
  font-family: Intro;
  font-size:70px;
  border-radius: 1px;
}
.divisao1{
  border-right: solid 4px white;
  font-family: arial;
  font-weight: 400;
  font-size: 18px;
}

/* Fim Conteúdo 1 */

/* Formulários */
#card-Cadastro{
  padding-bottom: 5px;
}
.tituloLogin{
  font-weight: bold;
  font-size: 48px;
  font-family: intro;
}
.cardLogin{
  text-align: center;
  border-radius: 15px;
  margin-left: 10%;
  margin-top: 1%; 
  padding-bottom: 17px;
  box-shadow: 0px 5px 10px black;

}
.card-action.formulario{
  border-top: none;
}
.botaoLembrar{
  opacity: 1;
}
.card-action a{
  text-transform: none;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  text-transform: none; 
}
#esqueceusenha{
  padding-bottom:14px;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
  border-bottom-color: #272727;
  box-shadow: none;
}
input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label{
  color:#272727; 
}
#submit{
  border-radius: 10px;
}
.btn ,.btn-large ,.btn-small{
  background-color: #272727;
}
.btn:hover ,.btn-large:hover ,.btn-small:hover{
  background-color: #575757;
}
.btn:focus ,.btn-large:focus ,.btn-small:focus{
  background-color: #272727;
}
/* Fim Formulários */

/* Article 1  */

.article1{
  margin-bottom: 0;
}
.artigo02{
  margin-bottom: 0;
}
.artigo02coluna{
  line-height: 0;
  
}
.artigo02back{
  background: url(../imgs/fundoEquipe.png) 100% no-repeat;
}
.textoEquipe{
  font-size: 62px;
  font-family: intro;
  color: black;
  padding-top: 3%;
  margin-bottom: 4%;
  text-align: right;
}
.descricaoEquipe{
  font-size:25px;
  font-family: intro;
  color: black;
  text-align: right;
  padding-right:10%;
  margin-top: 3%;
}
.botaoEquipe{
  margin-top: 4%;
  margin-right: 10%;
  border-radius: 10px;
  font-family: intro;
  font-size: 18px;
  float: right;
}
.artigo02texto{
  padding: 25px 4% 15px 5% !important;
}
/* Fim Article 1 */

/* Footer */

.page-footer {
  padding-top: 20px;
  color: #fff;
  background-color: #272727;
}
.page-footer .container{
  width: 70%;
}

/* Fim Footer */

/* Outras*/
#submit{
  text-transform: none;
  padding-bottom: 20px;
  line-height: 0;
  
}
@media only screen and (max-width:880px){
  .divisao1{
    border-bottom: solid 2px white;
    border-right: none;
  }
  .cardLogin{
    margin-left: 0;
    margin-top: 6%;
  }

  .card .card-title {
    font-size: 36px;
    font-weight: 300;
  }
  ::placeholder{
    font-size:18px;
  }
  [type="checkbox"]+span:not(.lever){
    font-size:18px;
  }
  .textoform{
    font-size:18px;
  }
  .textao{
    font-size:58px;
  }
  .img01Artigo1{
    display:none;
  }
  .img02Artigo1{
    display:block;
  }
  .botaoPagina{
    background-color: rgba(0,0,0,0.1);
  }
}

@media only screen and (max-width:600px){
  .botaoPagina{
    padding-bottom:7px;
  }
  #logoSite{
    max-width:190px;
  }
}
@media only screen and (max-width:520px){
  .nav-wrapper{
    width:100% !important;
  }
  .brand-logo{
    left: 25% !important;
    margin-top: 1%;
  }
}
  @media only screen and (min-width:881px){
    .flow-text{
      font-size: 24px;
    }
    .card .card-title {
      font-size: 38px;
      font-weight: 300;
      margin-top:24px;
    }
    .img01Artigo1{
      display:none;
    }
    .img02Artigo1{
      display:block;
    }
    .divisao1{
      border-bottom: solid 2px white;
      border-right: none;
    }
    .card-content{
      padding-bottom:0;
    }

  }
  @media only screen and (max-width:992px){
    .equipe{
      max-width: 400px;
    }
    .artigo02back{
      background: white;
      padding-bottom: 4%;
    }
    .botaoEquipe{
      float: none;
      margin:15px 0 0 0 ;

    }
    .artigo02texto{
      text-align: center;
    }
    .textoEquipe{
      font-size: 48px;
    }
    .descricaoEquipe{
      text-align: center;
      padding: 0;
    }
  }
  @media only screen and (min-width: 993px) {
    .container{
      width: 90%;
    }
    .img01Artigo1{
      display:block;
    }
    .img02Artigo1{
      display:none;
    }
  }
  body{

  }

  input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
    color: white;
    padding-top: 20px;
  }
  .waves-effect input[type="button"], .waves-effect input[type="reset"], .waves-effect input[type="submit"] {
    text-transform: none;
  }
  @media only screen and (min-width: 993px){
    .divisao1{
      border-bottom: none;
      border-right: solid 4px white;
    }
  }
  @media only screen and (max-width:1220px){
    .textoEquipe{
      font-size: 58px;
    }
    .descricaoEquipe{
      font-size: 22px;
      float: right;
    }
    .artigo02texto{
      padding: 5px 3% 0px 5% !important;
    }
  }
  @media only screen and (max-width:1060px){
    .textoEquipe{
      font-size: 54px;
    }
    .descricaoEquipe{
      font-size: 20px;
    }

  }
  @media only screen and (max-width:430px){
    .textao{
      font-size: 48px;
    }
    #logoSite{
      max-width: 170px;
    }
    .botaoPagina{
      padding: 7px 4px;
    }
  }