/* Geral */
html{
    height: 100%;
    line-height: 1; 
}
body{
    background:100% no-repeat fixed url("../imgs/backgroundOrg.jpg");
    height:100%;
}
#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    filter:alpha(opacity=80);
    z-index: -1;
}
/* Lado Esquerdo*/
.ladoEsquerdo{
    width: 50%;
    float: left;
    height:100%;
    transition-property: background-color;
    transition-duration: 1.3s;
    cursor: pointer;
}
.ladoEsquerdo:hover{
    background-color: #d41c1c9a;
    }
/* Lado Direito */
.ladoDireito{
    width: 50%;
    float: left;
    height:100%;
    background-color: none;
    transition-property: background-color;
    transition-duration: 1.3s;
    position: relative;
    cursor: pointer;
}
.ladoDireito:hover{
    background-color: #039ae594;
}
/* Nomes das Organizações */
.orgNome{
    color: white;
    font-family: intro;
    font-size: 5.7rem;
}
.esparta{
    margin-left: 6%;
    margin-top: 2%;
}
.atenas{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 90%;
    left:65%;
}

/* Script */
#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:999; /* z-index para jogar para frente e sobrepor tudo */
    background: #272727;
}
#preloader .inner {
    position: absolute;
    top: 45%; /* centralizar a parte interna do preload (onde fica a animação)*/
    left: 50%;
    transform: translate(-50%, -50%);  
}

/* Responsividade */
@media only screen and (min-width: 993px){
    #imagemLogo{
        width: 550px;
        position: absolute;
        top: 130%;
        left: 0;
    }
    .organizacao{
        position: relative;
        left:55%;
        transform: translate(-50%,-50%);
        background: none;
        border-radius: 8px;
        padding: 13px 8px;
        cursor: inherit;
    }
    #escolha{
        color: white;
        font-family: intro;
        font-size:5.5rem;
    }
}
@media only screen and (max-width: 992px){
    #imagemLogo{
        width: 500px;
        position: absolute;
        top: 130%;
        left: 0;
    }
    .organizacao{
        position: relative;
        left:52%;
        transform: translate(-50%,-50%);
        background: none;
        border-radius: 8px;
        padding: 13px 8px;
        cursor: inherit;
    }
    #escolha{
        color: white;
        font-family: intro;
        font-size:5rem;
    }
    .ladoEsquerdo{
        width: 100%;
        float: left;
        border-right: none;
        height:400px;
        background-color: #d41c1c9a;
        cursor: pointer;
    }
    .ladoDireito{
        width: 100%;
        float: left;
        height:400px;
        background-color: #039ae594;
        position: relative;
        cursor: pointer;
    }
    .orgNome{
        line-height: 0;
    }
    .esparta{
        margin-left: 6%;
        margin-top: 6%;
    }
    .atenas{
        position: absolute;
        transform: translate(-50%,-50%);
        top: 90%;
        left:75%;
    }
}
@media only screen and (max-width: 645px){
    .esparta{
        margin-left: 6%;
        margin-top: 10%;
    }
    .atenas{
        position: absolute;
        transform: translate(-50%,-50%);
        top: 90%;
        left:70%;
    }
    .orgNome{
        font-size: 4rem;
    }
}
@media only screen and (max-width: 500px){
    #imagemLogo{
        width: 380px;
        position: absolute;
        top: 130%;
        left: -5%;
    }
    .organizacao{
        position: relative;
        left:50%;
        transform: translate(-50%,-50%);
        background: none;
        border-radius: 8px;
        padding: 13px 8px;
        cursor: inherit;
    }
    #escolha{
        color: white;
        font-family: intro;
        font-size:3.2rem;
    }   
}
@media only screen and (max-width: 330px){
    #imagemLogo{
        width: 300px;
        position: absolute;
        top: 130%;
        left: -5%;
    }
    .organizacao{
        position: relative;
        left:50%;
        transform: translate(-50%,-50%);
        background: none;
        border-radius: 8px;
        padding: 13px 8px;
        cursor: inherit;
    }
    #escolha{
        color: white;
        font-family: intro;
        font-size:2.5rem;
    }
    .orgNome{
        font-size: 3.4rem;
    }
}