	/* Header/Nav */
	nav{
	-webkit-box-shadow: none;
	box-shadow: none;
	background:none;
	margin-bottom: 80px;
}
	.header{
		background: url("../imgs/banner.png") ;
		background-size: 100%;
		max-width: 100%;
		margin-bottom:0;
		min-height: 210px;
	}

	#logoSite{
		max-width:200px;
		margin-top:4px;
	  }
	#nomeJogador{
		font-size:64px;
	}
	.nomeJogador{
		line-height: 1;
	}
	input#Sair{
		background: none;
		border:none;
		-webkit-transition: background-color .3s;
		transition: background-color .3s;
		color: #fff;
		display: block;
		padding: 18px 15px;
		font-family:Intro;
	}
	#Sair{
		cursor:pointer;
	}
	#Sair:hover{
		background-color: rgba(0,0,0,0.1)
	}
	input#Sair:hover{
		background: none !important;
	}
/* Article 1 */
	.article01{
		margin-bottom: 0;
	}
	.artigo01{
		margin-bottom: 0;
	}
	#orgJogador{
		font-size:36px;
		margin-left: 20.5%;
		margin-top:0;
		color:#272727;
	}
	.orgJogador{
		margin-bottom: 0;
	}
	.row .col .pilar{
		margin-left: 0;
		padding-left: 0;
		padding-right: 0;

	}
	.pilares{
		padding-left: 0px;
		
	}
	.pilar{
		line-height:0;
	}
/* Article 2 */
	.fundo{
		margin-bottom: 0;
		background-color: white;
	}
	.fundo2{
		display:none;
	}
	.article02{
		margin-top: 2%;
	}
	.conteudoJogar{
		margin-top:1%;
	}
	#imgJogar{
		max-width: 280px;
		margin-bottom: 1%;
	}
	#botaoJogar{
		text-transform: uppercase;
		text-justify: auto;
 		padding:50px 90px;
		line-height: 0%;
		font-size: 64px;
		font-family:intro;
		border-radius: 20px;
		margin-top: 5px;
	}
	.btn:hover, .btn-large:hover, .btn-small:hover {
		background-color: #272727;
	}
	.btn, .btn-large, .btn-small{
		background-color: #272727;
		transition: background-color .4s;
	}
/* Article 3 */
	#imgVitorias{
		max-width: 280px;
		margin-bottom: 5px;
	}
	#textoVitorias, #textoPosicao{
		text-transform: none;
		color:#272727;
	}
	#textoVitorias{
		font-size: 56px;
	}
	#textoPosicao{
		font-size: 42px;
	}
	.article03{
		margin-top:0%;
	}
/* Footer */

/* Outros */
	.pilares{
	width: 110px;
	height: 510px;
}
	body{
	font-family: INTRO; 
	color:#272727;
}
	.container{
	width: 90%;
  }
  .faixa01{
	  margin-bottom:0;
	  padding-left:30px;
  }
  .faixa02{
	  width:100%;
	  line-height:0;
  }
  .faixa03{
	width:100%;
	line-height:0;
}
  @media only screen and (max-width:880px){
	#imgJogador02{
		display:block;
		max-width: 200px;
		margin-bottom:5%;
	}
	#imgJogador01{
		display:none;
	}
  }
  @media only screen and (max-width: 992px){
	.navSite01{
		display:none;
	}
	.navSite02{
		display:block;
	}
	nav{
		margin-bottom: 45px;
	}
	.header{
		background: url(../imgs/banner3.png);
    	background-size: 100%;
    	background-attachment: fixed;
	}
	#imgJogador02{
		display:block;
		max-width: 200px;
		margin-bottom:5%;
	}
	#imgJogador01{
		display:none;
	}
	.nomeJogador{
		text-align: center;
	}
	#nomeJogador{
		margin-left:0;
	}
	#orgJogador{
		margin: 0;
		
	}
	.orgJogador{
		text-align:center;
	}
  }
  @media only screen and (min-width: 993px){
	#imgJogador01{
		max-width: 200px;
		position:absolute;
		top: 13%;;
		left: 13%;
		border: white 3px solid;
		display:block;
	}
	.navSite01{
		display:block;
	}
	.navSite02{
		display:none;
	}
	#imgJogador02{
		display:none
	}
	.row .col.l1 {
		width: 10%;
		margin-left: auto;
		left: auto;
		right: auto;
		padding-left: 0px;
		padding-right: 0px;
	}
	#nomeJogador{
		margin-left:12%;
	}
	.container{
		width: 98%;
	}
	#orgJogador{
		margin-left: 0;
		
	}
  }
  @media only screen and (min-width:1000px){
	#orgJogador{
		font-size:36px;
		margin-left: 32%;
		margin-top:0;
	}
	.nav-wrapper{
		margin-left: 0px;
	}
  }
  @media only screen and (min-width:1160px){
	#nomeJogador{
		margin-left:7%;
	}
	#orgJogador{
		font-size:36px;
		margin-left: 21%;
		margin-top:0;
	}
	.conteudoJogar{
		margin-left: 45px;
	}
  }

  @media only screen and (max-width:1348px){
	.fundo{
		display:none;
	}
	.fundo2{
		display: block;
		margin-bottom:0;
	}
	#orgJogador{
		font-size:36px;
		margin-left: 31%;
		margin-top:0;
	}
  }
  @media only screen and (max-width:1160px){
	#orgJogador{
		font-size:36px;
		margin-left: 35%;
		margin-top:0;
	}
  }
  @media only screen and (max-width:990px){
	#orgJogador{
		font-size:36px;
		margin-top:0;
		margin-left: 0%;
	}
	#botaoJogar{
		margin-bottom: 10%;
	}
	.conteudoJogar{
		margin-top: 0;
	}
	.article02{
		margin-top:20px;
	}
  }
  @media only screen and (max-width:550px){
	#botaoJogar{
		text-transform: uppercase;
		text-justify: auto;
 		padding:35px 50px;
		line-height: 0%;
		font-size: 58px;
		border-radius: 20px;
	}
  }
  @media only screen and (min-width:1440px){
	.faixa01{
		padding-left: 80px;
	}
  }
